.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.card__count {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  border: none;
  background: transparent;
  padding: 0;
  color: inherit;
  cursor: pointer;
  text-align: left;
}

.card {
  position: relative;
  width: 325px;
  height: 205px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  padding: 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card:hover {
  opacity: 100%;
}

.card_color_green {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}

.card_color_white {
  background-color: #fff;
}

.card__btn {
  display: block;
  width: 24px;
  height: 24px;
  z-index: 2;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  opacity: 50%;
  cursor: pointer;
}

.card__btn_type_delete {
  background-image: url("../images/delete.svg");
}

.card__btn_type_flip {
  background-image: url("../images/flip.svg");
}

.card__btn:hover {
  opacity: 1;
}

.flashcard {
  overflow: hidden;
  gap: 12px;
}

.flashcard__text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  text-align: center;
}

.flashcard__flip-btn {
  appearance: none;
  -webkit-appearance: none;
  align-self: flex-end;
}
